<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALEX GULLIVER</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/blog.css">
    <link rel="stylesheet" href="/styles/blogcontent.css">
</head>
<body>
    {% include "navbar.njk" %}
    <div class="date">
        {{ blog.data.date }}
    </div>
    <div class="blogcontent">
        {{ content }} 
    </div>
    {% include "footer.njk" %}

</body>
</html>