    <div class="navbar">

        <h1 class="title"><a href="/index">ALEX GULLIVER</a></h1>
            <div class="navlist">
                <ul>
                    <li><a href="/photos">photos</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/projects">projects</a></li>
                    <li><a href="/other">other</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
            </div>
        </div>