.container {
    max-width: 600px;
    margin: auto;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.antiScrollDie {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conversationDie {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}