.blogbox {
    margin: auto;
    width: 600px;
    align-items: left;
}

.blogcontentbox {
    width: 600px;
    display: flex;
    /* background-color: rgb(249, 243, 232); */

}

.bloglink{
    text-decoration: none;
    font-family: JMH Typewriter;
    color: black;
    margin-left: 20px;

}

.bloglink:hover {
    text-decoration: underline;
}