.blogcontent {
    margin: auto;
    max-width: 600px; 
    font-size: 16px;
    font-family: JMH Typewriter;
    line-height: 1.4;
 }

 @media screen and (max-width: 768px) {
    .blogcontent {
        width: 90%;  /* full width on small screens */
        margin-top: 130px;
    }
 }
.blogcontent p {
margin-bottom: 1em;   /* space after paragraphs */
}

.blogcontent figure {
    margin: 2em 0;        /* space above and below images */
    text-align: center;
}

.blogcontent figcaption {
    font-size: 0.9em;
    margin-top: 0.5em;
    color: #666;
}

.blogcontent em {
    font-style: italic;   /* reinforce italics */
}
