img {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 90px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 30px;
    
}

@media (max-width: 768px) {
    img {
        padding-left: 0;
        padding-right: 0;
    }
}