.photo-album-container{
    margin: auto;
    width: 60%;
}

.image-grid {
    column-count: 2; /* 2 columns */
    column-gap: 20px; /* horizontal spacing */
  }
  
  .image-grid img {
    width: 100%;       /* fills the column width */
    height: auto;      /* keep natural height */
    display: block;
    margin-bottom: 20px; /* vertical spacing between images */
  }
  
  @media screen and (max-width: 768px) {
    .image-grid {
      column-count: 1; /* 1 column on small screens */
    }

    .photo-album-container {
        width: 90%; /* full width on small screens */
    }
    
  }

