.photonavlist {
    text-align: center; /* centers inline elements like <a> */
    margin: auto;
    color: black;
}

.photonavbar a{
    text-decoration: none;
    font-family: JMH Typewriter;
    color: black;
}

.photonavbar a:hover {
    text-decoration: underline;
}

.photonavbar ul {
    list-style-type: none;
}

.photodisplay {
    width: 90%;
    margin: auto;
}

.slideshow-container {
    margin: auto;
    width: 100%;
}

.photosandnav{
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pointers {
    align-items: center;
    size: 1.5rem;
}

.pointers a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    margin: 0 20px;
}

.next:hover {
    color: gray;
}

.prev:hover {
    color: gray;
}

@media screen and (max-width: 768px) {
    .photosandnav {
        width: 100%;
    }
}