<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALEX GULLIVER</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/blog.css">
</head>
<body>
    {% include "navbar.njk" %}
    <div class="blogbox">
    {% for blog in collections.blog reversed %}
        <!-- {% if blog.data.progress != "WIP" %} -->
        <div class="blogcontentbox">
            <a class="bloglink" href="{{ blog.url }}">
                <h3 class="blogtitle">{{ blog.data.title }}</h2>
                <p class="blogdescription">{{blog.data.description}}</p>
            </a>
        </div>
        <!-- {% endif %} -->
    {% endfor %}   
    </div>
    {% include "footer.njk" %}
</body>
</html>