<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALEX GULLIVER</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/friendshipdice.css">
</head>
<body>
    {% include "navbar.njk" %}

    <div class="container">
        These are friendship dice. Get a friend or two and roll them for fun conversations or activities!
        <div class="antiScrollDie">
            <div class="dieDescriptionText">Anti-Scroll Dice</div>
            <div id="die">
                <img src="" alt="">
            </div>
            <p id="antiScrollResult"></p>
            <button id="antiScrollButton">Roll me!</button>
            <p>Roll for an activity to do instead of scrolling</p>
        </div>

        <div class="conversationDie">
            <div class="dieDescriptionText">Conversation Dice</div>
            <div>

            </div>
            <p id="conversationRoll"></p>
            <button id="conversationButton">Roll me!</button>
            <p>Roll for a conversation starter</p>
        </div>

    </div>



    <script src="/scripts/friendshipdice.js"></script>
    {% include "footer.njk" %}
</body>
</html>