<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALEX GULLIVER</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/projects.css">
</head>
<body>
    {% include "navbar.njk" %}
    <div class="projectslistcontainer">
        <div class="projectslist">
            {% for collection in collections.projects %}  
            <a href="{{ collection.url }}">{{ collection.data.title }}</a>
            <p>{{ collection.data.description }}</p>
            {% endfor %}
        </div>
    </div>
    {% include "footer.njk" %}
</body>
</html>